@import url(https://fonts.googleapis.com/css?family=Aleo:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Magra:regular,600);
@import url(https://fonts.googleapis.com/css?family=Red+Hat+Text:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.header {
    width: 1440px;
    height: 765px;
    background-image: url(/image/background.png);
}

.container__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: #F2785CB2;
}

.logo__vector {
    margin-left: 120px;
    margin-right: 6px;
    width: 30px;
    height: 30px;
}

.title {
    font-family: 'Magra';
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}

.menu {
    display: flex;
}

.menu__list {
    display: flex;
    gap: 42px;
    list-style-type: none;
    margin-right: 80px;
    height: 21px;
}

.menu__link {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 41px;
    margin-right: 120px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.txt__login {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.offer {
    width: 892px;
    margin-left: 120px;
    color: #FFFFFF;
    margin-top: 32px;
}

.explore-txt {
    font-family: 'Aleo';
    font-size: 80px;
    line-height: 96px;
}

.receive-txt {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 46px;
}

.form-offer {
    display: flex;
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.input-search {
    display: flex;
    align-items: center;
    width: 560px;
    height: 22px;
    margin-left: 41px;
    margin-top: 32px;
    font-size: 24px;
    line-height: 29px;
    font-style: italic;
    background: none;
}

::placeholder {
    color: #f2785c;
}

.btn-start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    margin-left: 45px;
    margin-top: 18px;
}

.txt-button {
    color: #FFFFFF;
}

.main {
    width: 1440px;
}

.heading__steps {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #f2785c;
}

.steps {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.steps__common {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-icons {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100px;
    background-color: #f2785c;
    border-radius: 16px;
}

.svg_bike {
    width: 50px;
}

.svg_calendar {
    width: 52px;
}

.svg_plane {
    width: 60px;
}

.txt-steps__common {
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.heading__destinations {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    margin-top: 97px;
    text-align: center;
    color: #f2785c;
}

.img__destinations {
    display: flex;
    justify-content: center;
    margin-top: 46px;
}

.position {
    display: flex;
    flex-direction: column;
    position: relative;
}

.img__japan {
    margin-left: 60px;
    margin-right: 60px;
}

.txt__japan {
    position: absolute;
    font-family: 'red hat text';
    font-size: 32px;
    font-weight: 500;
    margin-left: 75px;
    margin-top: 718px;
    color: #FFFFFF;
}

.txt__usa {
    position: absolute;
    font-family: 'Red Hat Text';
    font-size: 32px;
    font-weight: 500;
    margin-top: 718px;
    margin-left: 15px;
    color: #FFFFFF;
}

.ellipse {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.ellipse1 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
}

.ellipse2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #f2785c;
    margin-left: 10px;
    margin-right: 10px;
}

.ellipse3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
}