@import url(https://fonts.googleapis.com/css?family=Aleo:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Magra:regular,600);
@import url(https://fonts.googleapis.com/css?family=Red+Hat+Text:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);
/* шрифты нужно скачивать на комп в свою папку */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container__header {
    min-width: 1440px;
    height: 765px;
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.container__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: #F2785CB2;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.logo__vector {
    padding-left: 120px;
}

.title {
    font-family: 'Magra';
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-left: 6px;
    color: #FFFFFF;
}

.menu__list {
    display: flex;
    gap: 42px;
    list-style-type: none;
}

.menu__link {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.login {
    width: 103px;
    height: 41px;
    margin-right: 120px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.txt__login {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.offer {
    width: 892px;
    margin-left: 120px;
    color: #FFFFFF;
    margin-top: 32px;
}

.explore-txt {
    font-family: 'Aleo';
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
}

.receive-txt {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
}

.form-offer {
    display: flex;
    width: 100%;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    margin-top: 46px;
}

.input-search {
    flex: 1;
    margin-left: 41px;
    font-size: 24px;
    line-height: 29px;
    background: none;
}

::placeholder {
    /* ggwp НЕ ИСПРАВИЛ !!!*/
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #f2785c;
}

.btn__common {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn-start {
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    margin-top: 18px;
    margin-right: 18px;
}

.txt-button {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.container__main {
    min-width: 1440px;
    overflow: hidden;
}

.heading__steps {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #f2785c;
}

.steps {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.steps__common {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-icons {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100px;
    background-color: #f2785c;
    border-radius: 16px;
}

.txt-steps__common {
    margin-top: 30px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.heading__destinations {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    margin-top: 97px;
    text-align: center;
    color: #f2785c;
}

.img__destinations {
    display: flex;
    justify-content: center;
    margin-top: 46px;
}

.position__destinations {
    display: flex;
}

.img__japan {
    margin: 0 60px;
}

.img__common {
    border-radius: 16px;
}

.txt__japan {
    position: absolute;
    font-family: 'Red Hat Text';
    font-size: 32px;
    font-weight: 500;
    margin-left: 75px;
    margin-top: 718px;
    color: #FFFFFF;
}

.txt__usa {
    position: absolute;
    font-family: 'Red Hat Text';
    font-size: 32px;
    font-weight: 500;
    margin-top: 718px;
    margin-left: 15px;
    color: #FFFFFF;
}

.carouselPaginator {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.carouselPaginator__common {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
    margin: 0 5px;
    /* схлоп margin */
}

.carouselPaginator__active {
    background: #f2785c;
}

.btn-img {
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.txt-btn {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-left: 12.5px;
    color: #FFFFFF;
}

.travel__stories {
    height: 1332px;
}

.bcStories {
    width: 100%;
    height: 1331px;
    background: url(image/bgStories.png) no-repeat;
    background-size: 100%;
}

.bcStoriesVisibility {
    height: 1270px;
    background: rgba(255, 255, 255, 0.7);
}

.heading__stories {
    display: flex;
    justify-content: center;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    margin-top: 80px;
    margin-bottom: 40px;
    color: #f2785c;
}

.firstStory {
    display: flex;
    padding-left: 120px;
    padding-top: 40px;
}

.story {
    display: flex;
    padding-left: 120px;
    padding-top: 30px;
}

.img__story {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.txt-story {
    min-width: 760px;
    margin-left: 40px;
}

.heading__story {
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 24px;
    color: #0D606F;
}

.paragraph__story {
    font-family: 'Aleo';
    width: 765px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.link__more {
    font-family: 'Aleo';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration: underline;
    color: #0D606F;
}

.container__footer {
    display: flex;
    margin-top: 54px;
}

.help__footer {
    flex: 1;
    /* можно 50% */
}

.txt-footer {
    white-space: nowrap;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.container__icons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    /* можно 50% */
}

.icon__footer {
    position: relative;
    bottom: 9px;
    margin-right: 20px;
    /* margin 0 10px */
}

.last__icon {
    margin-right: 123px;
}